# Compiler files
cache/
out/

# Ignores development broadcast logs
/broadcast/*/31337/
/broadcast/*/11155111/
/broadcast/**/dry-run/
broadcast/**/sepolia/

# Docs
docs/

# Dotenv file
.env

# Coverage reports
/report/
/coverage/
lcov.info

# Node modules
node_modules/